apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "encrypt.fullname" . }}
  labels:
    {{- include "encrypt.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "encrypt.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/rclone.secret.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "encrypt.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ include "encrypt.fullname" . }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.images.rclone.repository }}:{{ .Values.images.rclone.tag }}"
          imagePullPolicy: {{ .Values.images.rclone.pullPolicy }}
          command:
          command:
            - "/bin/sh"
            - "-c"
            - "/usr/local/bin/rclone serve s3 fake_s3: --force-path-style=true --addr=:8080 --auth-key \"$REMOTE_ACCESS_KEY,$REMOTE_SECRET_KEY\" --log-level=DEBUG"
          env:
            - name: REMOTE_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "encrypt.fullname" . }}
                  key: FAKE_REMOTE_ACCESS_KEY
            - name: REMOTE_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "encrypt.fullname" . }}
                  key: FAKE_REMOTE_SECRET_KEY
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: config
              mountPath: /root/.config/rclone
      volumes:
        - name: config
          secret:
            secretName: {{ include "encrypt.fullname" . }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
